<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--  suite name="Suite"  verbose="10" parallel="tests" configfailurepolicy="continue"-->
<suite name="Suite"  verbose="10"  configfailurepolicy="continue">

<test name="SunnetAutomationChrome">
	<parameter name="aut" value="Firefox" />
	<classes>
		 <class name="com.sunnet.TestRunner.TestRunner" />
	</classes>
</test> 

</suite>

